<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jookovjook.chatapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jookovjook.chatapp"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:node="remove">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".user_profile.UserProfileActivity"
            android:theme="@style/UPActivityTheme" />
        <activity
            android:name="es.guiguegon.gallerymodule.GalleryActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".new_publication.NewPublicationActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".new_pub.NewPubActivity" />
        <activity
            android:name=".pub.PubActivity"
            android:theme="@style/UPActivityTheme" />
        <activity android:name=".TestActivity" />
        <activity android:name=".new_login.NewLoginActivity"
            android:theme="@style/NewLoginTheme"/>
    </application>

</manifest>